.report-list-item {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.report-list-item-title {
    font-weight: 700;
}

.report-card-map {
    height: 200px;
    background-image: url('../../assets/google-map-dull.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}