.report-page {
    margin: 20px;
}

.report-page-price {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}

.report-page-price-number {
    color: green;
}

.report-page-map {
    height: 600px;
    background-image: url('../../assets/google-map-dull.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.report-page-info {
    margin-top: 10px;
}

.report-page-description-title,
.report-page-info-title {
    font-size: 28px;
}