$break-point-m: 920px;

* {
  margin: 0;
  box-sizing: border-box;
}

.report-approval-page {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.filters-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: $break-point-m) {
    gap: 10px;
  }
}

.table-block {
  overflow: scroll;
}

.report-approval-table {
  width: 100%;
}

.mat-icon.approve-icon {
  color: darkgreen;
}

.mat-icon.reject-icon {
  color: darkred;
}

.mat-column-status-col {
  max-width: 40px;
}

.mat-column-price-col,
.mat-column-mileage-col {
  max-width: 60px;
  text-align: right;
}

.mat-column-action-col {
  width: 20px;
  text-align: center;
}
