* {
  margin: 0;
  box-sizing: border-box;
}
.report-approval-page {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
}

.demo-table {
  width: 100%;
}

.mat-icon.approve-icon {
  color: darkgreen;
}

.mat-icon.reject-icon {
  color: darkred;
}

.mat-column-status-col {
  max-width: 40px;
}

.mat-column-price-col,
.mat-column-mileage-col {
  max-width: 60px;
  text-align: right;
}

.mat-column-action-col {
  width: 20px;
  text-align: center;
}
