.login-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

p {
  margin: 0;
  text-align: center;
}

.login-page-form-input-errors {
  color: red;

  p {
    margin: 5px 0;
  }
}

.submit-button {
  margin-bottom: 10px;
}
