.estimate-page {
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 20vh 80vh;
  gap: 15px;
}

.estimate-page-form {
  grid-area: 1/1;
}

.estimate-page-price {
  grid-area: 1/2;
}

.estimate-page-reports {
  display: grid;
  grid-area: 2/1 / span 1 / span 2;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
