.estimate-page {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30vh 5vh 65vh;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media screen and (max-width: 780px) {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 30vh 5vh 35vh;
  }
}

.estimate-page-form {
  grid-area: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  border-radius: 10px;

  input {
    padding: 5px;
  }
}

.estimate-page-price {
  grid-area: 2 / 1 / span 1 / span 2;
  text-align: center;
  font-size: clamp(20px, calc((48px - 20px) * (100vw / 780px)), 48px);
  padding: 10px;

  p {
    margin: 0;
  }

  @media screen and (max-width: 780px) {
    grid-area: 3/1;
  }
}

.estimate-page-reports {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  grid-area: 3 / 1 / span 1 / span 2;

  @media screen and (max-width: 780px) {
    grid-area: 4/1;
  }
}

.estimate-page-reports-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: center;
  row-gap: 10px;
  column-gap: 20px;
  overflow-y: auto;
}

.estimate-page-form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.submit-button {
  width: fit-content;
  margin-top: 10px;
  padding: 7px;
}

#estimate-page-map {
  height: 100%;
  grid-area: 1/2;
  background-image: url("../../assets/google-map-dull.png");

  @media screen and (max-width: 780px) {
    grid-area: 2/1;
  }
}

.estimate-page-form-input-errors {
  color: red;
  font-size: 14px;

  p {
    margin: 0;
  }
}
