$break-point-s: 720px;
$break-point-xs: 480px;

.mat-mdc-card.mdc-card {
  width: 80%;
  max-width: 900px;
  border-radius: 10px;
  margin: 40px auto 0;
}

.estimate-page-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .estimate-page-form-input > .mat-mdc-form-field,
  .mat-mdc-form-field input {
    width: 100%;
  }

  :nth-child(1),
  :nth-child(2) {
    width: calc(100% / 2 - 20px);
  }

  :nth-child(3),
  :nth-child(4),
  :nth-child(5) {
    width: calc(100% / 3 - 20px);
  }

  :nth-child(6) {
    width: 100%;
  }

  .submit-button {
    margin: 0 auto;
  }

  .estimate-page-form-input-errors {
    width: 100%;
    color: red;
    text-align: center;

    p {
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: $break-point-s) {
  .estimate-page-form {
    :nth-child(1),
    :nth-child(2) {
      width: 100%;
    }
  }
}

@media screen and (max-width: $break-point-xs) {
  .estimate-page-form .estimate-page-form-input {
    width: 100%;
  }
}
