$break-point-m: 720px;
$backdrop-color: rgba(
  $color: #fff,
  $alpha: 0.7,
);

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 8px;
  background-color: $backdrop-color;
  width: 80vw;
  margin: 0 auto;
}

.button-default {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.site-header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: inherit;
  width: fit-content;
}

.site-header-logo-img {
  padding: 5px;
}

.site-header-logo-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}

.site-header-nav .site-header-logo-title {
  font-size: 20px;
}

.site-header-nav .site-header-logo-title:hover,
.site-header-nav .site-header-logo-title:focus {
  text-decoration: underline;
}

.site-header-nav {
  display: flex;
  align-items: center;
}

.site-header-link {
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.button-logout {
  width: 32px;
  height: 32px;
  background-image: url("../assets/logout.png");
}

.site-header-profile {
  width: 32px;
  height: 32px;
  margin: 0 10px;
}

.burger-menu {
  display: none;
}

.button-close-menu {
  display: none;
}

@media screen and (max-width: $break-point-m) {
  header {
    width: auto;
  }

  .site-header-nav {
    position: absolute;
    top: 0px;
    right: -200px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    background-color: $backdrop-color;

    &.visible {
      right: 0px;
      left: 0;

      + .burger-menu {
        display: none;
      }
    }
  }

  .burger-menu {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../assets/list.png");
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .button-close-menu {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    background-image: url("../assets/close.png");
  }
}
