section {
  padding: 40px;
}

.my-reports {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: center;
  gap: 15px;
  margin-top: 40px;

  .report-card {
    cursor: pointer;
  }
}
