.signup-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.signup-page-form-input {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  text-align: center;
}

.signup-page-form-input-errors {
  grid-area: 5 / 1 / 5 / span 6;
  color: red;

  p {
    margin: 5px 0;
  }
}

.submit-button {
  margin: 10px 0;
}
