.signup-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 15vh auto 0;
  padding: 40px;
  gap: 10px;
  border-radius: 10px;
  background-color: lightblue;
}

.signup-page-form-input {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  text-align: center;
}

.signup-page-form-input-errors {
  grid-area: 5 / 1 / 5 / span 6;
  color: red;

  p {
    margin: 5px 0;
  }
}

.picture-chooser {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  max-width: 300px;

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 32px;
    height: fit-content;
  }

  &-title {
    margin: 20px auto 0;
  }
}

.picture-chooser-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 200px;
  height: 200px;
  overflow: hidden;

  & img {
    height: 100%;
    width: auto;
    object-position: 50% 50%;
  }
}
