.report-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: center;
  gap: 15px;
  padding: 40px;
}

.card-clickable {
  width: fit-content;
  margin: 10px;
}

.card-clickable:hover,
.card-clickable:focus {
  cursor: pointer;
  outline: none;
  box-shadow: 10px 5px 5px grey;
}
