$main-confirm-color: #51829b;
$main-reject-color: #b80000;

.mat-mdc-raised-button.mat-main:not(:disabled) {
  color: white;
  background-color: $main-confirm-color;
}

.mat-mdc-raised-button.mat-secondary:not(:disabled) {
  color: $main-confirm-color;
  background-color: white;
}

.mat-mdc-raised-button.mat-cancel:not(:disabled) {
  color: $main-reject-color;
  background-color: white;
}
